<div class="book-appointment page-width">
    <h1>Book An Appointment</h1>

    <p>Schedule an appointment to view our collection in-store!<br/><br/>

    We can measure your ring size and guide you towards the perfect stones for your jewelry.</p>

    <a href="https://www.automicgold.com/pages/book-an-appointment" class="column-text__button btn">Book An Appointment</a>
</div>