<p class="line-item-property__field">
    <label for="name"><h4>Name (up to 10 characters):</h4></label>
    <input 
        required class="required" 
        id="nameplate" 
        type="text" 
        name="properties[Name]"
        preview="Name"
        onfocus="this.value=''"
        autocomplete="off"
        autocorrect="off"
        required maxlength="10" 
        size="95"
    >
  </p>