<svg aria-labelledby="automicGoldLogoTitle automicGoldLogoDescription" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.94 50" role="img">
    <title id="automicGoldLogoTitle">Automic Gold logo</title>
    <desc id="automicGoldLogoDescription">Symbol for Gold in Periodic Table of Elements</desc>
    <path d="M2,48H44V2H2ZM0,0H46V50H0Z"/>
    <path d="M11.3,37.72l-1.95,4.7a.32.32,0,0,1-.3.2H6.51a.32.32,0,0,1-.3-.45L13.84,24.3a.32.32,0,0,1,.59,0l.51,1.2.87,2.08,1.13,2.68,1.27,3,1.28,3,1.15,2.69L21.53,41,22,42.17a.32.32,0,0,1-.3.45H19.19a.32.32,0,0,1-.29-.19l-.33-.76-.49-1.14-.59-1.41-.57-1.39ZM12,35.24h4.27l-.63-1.5-.54-1.32-.44-1q-.19-.45-.28-.71a3.28,3.28,0,0,1-.11-.33q-.08-.28-.13-.52a4.34,4.34,0,0,1-.14.52q-.09.28-.12.33ZM29.11,42a4.2,4.2,0,0,1-2.69.85A3.73,3.73,0,0,1,23.8,42a3.23,3.23,0,0,1-1-2.37V32.46a.32.32,0,0,1,.32-.32h2a.32.32,0,0,1,.32.32v6.22a1.64,1.64,0,0,0,.45,1,1.87,1.87,0,0,0,1.28.49A3,3,0,0,0,28.3,40a2.81,2.81,0,0,0,.91-.6,2.65,2.65,0,0,0,.59-.9A3.13,3.13,0,0,0,30,37.31V32.46a.32.32,0,0,1,.32-.32h2a.32.32,0,0,1,.32.32V42.51a.32.32,0,0,1-.32.32h-1.7a.32.32,0,0,1-.32-.29l-.15-1.7A5.4,5.4,0,0,1,29.11,42Z"/>
</svg>
