// Type
// $font-headings: var(--font-heading-family);
// $font-body: var(--font-body-family);

// Grid
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
// $light: #fff;

// Transitions
// $duration-short: 100ms;
// $duration-default: 200ms;
// $duration-long: 500ms;
