<article class="page-contents page-width">
  <div class="page-header">
    {% include 'breadcrumb' %}
    <h1>{{ page.title }}</h1>
  </div>

  <div class="rte covid-text">
    {{ page.content }}
  </div>
</article>
