<article class="size-guide">

    <header class="spaced space-bottom-x3 text-center">
        {% include 'breadcrumb' %}
        <h1>How to find your bracelet,<br/>anklet or choker size.</h1>
    </header>

    <div class="spaced">
        <div class="size-guide__step-number">
            1
        </div>

        <h2 class="text-center">Tape Measure</h2>

        <p>
            Use any tape measure to measure you wrist, neck or foot.
        </p>
    </div>

    <div class="spaced--twice">
        <div class="molecule">
            <div class="molecule__uhaul">
                <img class="lazyload"
                     alt="Measuring size of neck for necklaces or chokers using tape measure"
                     data-srcset="
                        {{ 'size--neck.jpg' | file_img_url: '540x675' }} 540w,
                        {{ 'size--neck.jpg' | file_img_url: '1080x1350' }} 1080w
                    "
                     sizes="
                        (max-width: 479px) calc(100vw - 30px),
                        (min-width: 480px) and (max-width: 767.98px) calc(100vw - 60px),
                        (min-width: 768px) 450px
                    "
                />
            </div>
            <div class="molecule__uhaul">
                <img class="lazyload"
                     alt="Measuring size of wrist or hand for bracelets and bangles using tape measure"
                     data-srcset="
                        {{ 'size--wrist.jpg' | file_img_url: '540x675' }} 540w,
                        {{ 'size--wrist.jpg' | file_img_url: '1080x1350' }} 1080w
                    "
                     sizes="
                        (max-width: 479px) calc(100vw - 30px),
                        (min-width: 480px) and (max-width: 767.98px) calc(100vw - 60px),
                        (min-width: 768px) 450px
                    "
                />
            </div>
        </div>
    </div>

    <div class="spaced--twice">
        <div class="size-guide__step-number">
            2
        </div>

        <h2 class="text-center spaced--half">Round up</h2>

        <p>
            Now, round up the measurement to the next bigger size that is available.
        </p>

        <p>
            For example: Al's neck measurement is 13 1/4". Round it up, and it comes up to 14" choker.
        </p>

        <p class="space-bottom-x2">
            Even if your measurement is exact to size, go a size up. So for a 8" wrist measurement, choose a 9" bracelet.
        </p>

        <h3 class="text-center spaced--half">For loose necklaces (i.e. not chokers)</h3>

        <p>
            For necklaces that are not tight, you can loosely measure your neck using same tape measure to estimate how the length will look on you.
        </p>
    </div>

</article>
