<section class="page-cover timesup-header v-center">
    <h1 class="visually-hidden">TIME'S UP and Automic Gold</h1>
    <a class="timesup-header__logo" href="https://timesupnow.org/" target="_blank" title="TIME'S UP">
        <svg role="presentation" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 144.4 45" style="enable-background:new 0 0 144.4 45;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>
            <title>Time's Up + Automic Gold</title>
            <g>
                <g>
                    <path class="st0" d="M55.8,28.6H0v3.2h55.8V28.6z"/>
                    <path class="st0" d="M0,40.7h55.9v-3.2H0V40.7z"/>
                </g>
                <path class="st0" d="M17.8,0.4v5.4h-0.5c-0.2-0.9-0.5-1.8-1-2.7c-0.4-0.6-0.9-1-1.6-1.3c-0.6-0.2-1.3-0.3-1.9-0.3h-1.5v15.3
		c0,0.6,0,1.3,0.2,1.9c0.1,0.3,0.4,0.5,0.7,0.7c0.4,0.2,0.9,0.3,1.3,0.3h0.7v0.5H3.7v-0.5h0.7c0.5,0,1-0.1,1.4-0.3
		C6,19.2,6.2,19,6.4,18.7c0.1-0.6,0.2-1.2,0.2-1.8V1.6H5.1C4,1.5,3,1.8,2.2,2.4C1.3,3.3,0.7,4.5,0.6,5.8H0V0.4H17.8z M29.4,19.7v0.5
		H19.1v-0.5h0.6c0.5,0,1-0.1,1.4-0.3c0.3-0.2,0.5-0.4,0.6-0.7c0.2-0.6,0.2-1.2,0.2-1.8v-13c0-0.6,0-1.3-0.2-1.9
		c-0.1-0.3-0.4-0.5-0.6-0.7C20.7,1.1,20.2,1,19.7,1h-0.6V0.4h10.4V1h-0.7c-0.5,0-1,0.1-1.4,0.3c-0.3,0.2-0.5,0.4-0.6,0.7
		c-0.1,0.6-0.2,1.2-0.2,1.8v13c0,0.6,0,1.3,0.2,1.9c0.1,0.3,0.4,0.5,0.7,0.7c0.4,0.2,0.9,0.3,1.3,0.3L29.4,19.7z M44.4,13.5l5.4-13
		h8.1V1h-0.6c-0.5,0-1,0.1-1.4,0.3c-0.3,0.2-0.5,0.4-0.6,0.7C55,2.6,55,3.2,55,3.8v13.1c0,0.6,0,1.3,0.2,1.9
		c0.1,0.3,0.4,0.5,0.7,0.7c0.4,0.2,0.9,0.3,1.3,0.3h0.6v0.5H47.5v-0.5h0.6c0.5,0,1-0.1,1.4-0.3c0.3-0.2,0.5-0.4,0.6-0.7
		c0.2-0.6,0.2-1.2,0.2-1.8V2.2l-7.6,18.1h-0.3L34.6,2.3v13.9c0,0.6,0,1.2,0.1,1.8c0.1,0.5,0.4,0.9,0.8,1.2c0.6,0.4,1.3,0.5,2,0.5
		v0.5h-6.8v-0.5h0.2c0.4,0,0.8-0.1,1.2-0.2c0.3-0.1,0.6-0.3,0.9-0.6c0.2-0.3,0.4-0.7,0.5-1.1c0-0.1,0-0.6,0-1.5V3.8
		c0-0.6,0-1.3-0.2-1.9c-0.1-0.3-0.4-0.5-0.7-0.6C32.2,1.1,31.8,1,31.4,1h-0.6V0.4h8.1L44.4,13.5z M66.6,1.6v8.1H67
		c1.1,0.1,2.1-0.4,2.7-1.2c0.7-1,1-2.2,1.1-3.5h0.6v10.3h-0.6c-0.1-1-0.3-1.9-0.7-2.8c-0.3-0.6-0.7-1.1-1.3-1.4
		c-0.7-0.3-1.4-0.4-2.2-0.4v5.6c0,0.7,0,1.3,0.1,2c0.1,0.3,0.3,0.5,0.5,0.6c0.4,0.2,0.8,0.3,1.2,0.2h1.2c1.6,0.1,3.2-0.4,4.4-1.3
		c1.2-1,2-2.4,2.4-3.9h0.5l-0.9,6.3H59.1v-0.5h0.7c0.5,0,1-0.1,1.4-0.3c0.3-0.2,0.5-0.4,0.6-0.7c0.1-0.6,0.2-1.2,0.2-1.8v-13
		c0-0.6,0-1.1-0.1-1.7c-0.1-0.3-0.3-0.6-0.5-0.8c-0.4-0.3-1-0.5-1.5-0.5h-0.7V0.4h16.6v5.9h-0.6c-0.1-1.1-0.6-2.2-1.2-3.1
		c-0.6-0.7-1.3-1.1-2.2-1.4c-1-0.2-2-0.3-3.1-0.3H66.6z M77.5,9.7V9.1c1-0.4,1.8-1,2.5-1.9c0.5-0.7,0.8-1.5,0.8-2.4
		c0-0.1,0-0.3-0.1-0.4c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2,0-0.3,0.1c-0.8,0.5-1.9,0.3-2.5-0.4c-0.4-0.4-0.6-1-0.6-1.6
		c0-0.6,0.3-1.3,0.7-1.7C78.1,0.3,78.8,0,79.4,0c0.8,0,1.6,0.4,2.1,1c0.6,0.7,0.9,1.7,0.9,2.7c0,1.3-0.4,2.6-1.3,3.7
		C80.2,8.5,78.9,9.3,77.5,9.7z M96.2,0l0.2,6.6h-0.6c-0.2-1.5-0.9-2.9-2.1-4c-1-0.9-2.2-1.5-3.6-1.5c-0.9,0-1.7,0.2-2.4,0.8
		c-0.5,0.5-0.9,1.1-0.9,1.8c0,0.4,0.1,0.8,0.3,1.2c0.4,0.5,0.8,1,1.4,1.4c1,0.7,2.1,1.2,3.2,1.8c1.8,0.7,3.4,1.8,4.7,3.2
		c0.8,1,1.2,2.2,1.2,3.5c0,1.6-0.7,3.2-1.9,4.3c-1.3,1.2-3.1,1.8-4.9,1.8c-0.6,0-1.2-0.1-1.8-0.2c-0.7-0.2-1.4-0.4-2.1-0.7
		c-0.4-0.2-0.8-0.3-1.2-0.3c-0.3,0-0.6,0.1-0.8,0.3c-0.3,0.2-0.5,0.5-0.7,0.9h-0.5v-7.5h0.5c0.3,1.8,1.2,3.5,2.5,4.8
		c1.1,1,2.5,1.6,3.9,1.6c0.9,0.1,1.9-0.3,2.6-0.9c1-0.8,1.3-2.3,0.6-3.4c-0.3-0.5-0.7-0.9-1.1-1.2c-0.8-0.6-1.7-1.1-2.7-1.5
		c-1.4-0.6-2.7-1.4-3.9-2.3c-0.7-0.6-1.4-1.3-1.8-2.1c-0.4-0.8-0.6-1.7-0.6-2.5c0-1.5,0.6-3,1.7-4c1.2-1.1,2.8-1.7,4.4-1.6
		c0.6,0,1.3,0.1,1.9,0.2c0.6,0.2,1.1,0.4,1.7,0.6c0.4,0.2,0.9,0.4,1.4,0.5c0.2,0,0.4-0.1,0.6-0.2c0.2-0.3,0.4-0.7,0.4-1.1H96.2z
		 M100.4,0.5h-0.6v1.7h-0.2V0.5h-0.6V0.3h1.4V0.5z M101,0.3l0.6,1.5l0.6-1.5h0.3v1.9h-0.2V1.5V0.7l-0.6,1.5h-0.2l-0.6-1.5v0.8v0.7
		h-0.2V0.3L101,0.3z"/>
                <path class="st0" d="M59.4,24.8h10.2v0.5h-0.5c-0.5,0-1.1,0-1.6,0.2c-0.3,0.1-0.5,0.4-0.6,0.7c-0.2,0.7-0.2,1.4-0.2,2.1V38
		c-0.1,1.2,0.1,2.4,0.4,3.5c0.3,0.6,0.7,1.1,1.3,1.5c0.7,0.4,1.5,0.6,2.3,0.6c1,0,1.9-0.2,2.7-0.7c0.8-0.5,1.3-1.2,1.7-2
		c0.5-1.4,0.7-2.9,0.6-4.4v-8.1c0-0.6-0.1-1.3-0.3-1.9c-0.1-0.3-0.4-0.6-0.7-0.8c-0.6-0.2-1.2-0.4-1.9-0.3v-0.5h6.8v0.5h-0.4
		c-0.5,0-1,0.1-1.4,0.3c-0.4,0.2-0.7,0.6-0.8,1C77,27.2,77,27.8,77,28.4v7.5c0.1,1.7-0.1,3.4-0.5,5c-0.4,1.2-1.2,2.2-2.2,2.8
		c-1.4,0.9-3.1,1.4-4.9,1.3c-1.4,0.1-2.7-0.2-4-0.7c-1.1-0.5-2-1.3-2.7-2.3c-0.6-1.3-0.8-2.6-0.8-4v-9.6c0.1-0.7,0-1.4-0.2-2.1
		c-0.1-0.3-0.4-0.5-0.7-0.7c-0.6-0.2-1.1-0.3-1.7-0.2L59.4,24.8z M88.3,35.6v5.5c0,0.7,0,1.3,0.2,2c0.1,0.3,0.4,0.5,0.7,0.7
		c0.6,0.2,1.2,0.3,1.8,0.2v0.5H81V44c0.6,0,1.3,0,1.9-0.2c0.3-0.1,0.5-0.4,0.7-0.7c0.2-0.7,0.2-1.3,0.2-2V28.3c0-0.7,0-1.3-0.2-2
		c-0.1-0.3-0.4-0.5-0.7-0.7c-0.6-0.2-1.2-0.3-1.9-0.3v-0.5h8.6c2.8,0,4.9,0.5,6.1,1.5c1.2,0.9,1.9,2.3,1.9,3.8
		c0,1.2-0.4,2.4-1.2,3.3c-0.9,1-2,1.6-3.3,1.9C91.5,35.6,89.9,35.7,88.3,35.6z M87.8,25.9v8.5h0.7c1,0.1,2-0.3,2.7-1.1
		c0.7-0.9,1.1-2.1,1-3.3c0.1-1.2-0.3-2.3-1-3.2c-0.8-0.7-1.8-1.1-2.9-1L87.8,25.9z"/>
            </g>
            <g>
                <path class="st0" d="M118.3,36.8l-0.3-0.9h-1.6l-0.3,0.9h-1.3l2-4.9h0.9l1.8,4.9H118.3z M116.8,35h1l-0.5-1.4h0L116.8,35z"/>
                <path class="st0" d="M122.7,36.8l-0.1-0.5c-0.3,0.4-0.8,0.6-1.2,0.6c-0.4,0-0.7-0.2-1-0.5c-0.3-0.4-0.3-0.9-0.3-1.4v-2h1.1v1.9
		c0,0.2,0,0.5,0.1,0.7c0.1,0.2,0.3,0.3,0.5,0.3c0.2,0,0.5-0.1,0.7-0.4V33h1.1v3.8H122.7z"/>
                <path class="st0" d="M125.8,33.9v1.4c0,0.1,0,0.2,0,0.3c0,0.2,0.1,0.3,0.3,0.3c0.2,0,0.3,0,0.4-0.1l0.4,0.8c-0.3,0.2-0.7,0.2-1,0.2
		c-0.6,0-1-0.3-1.2-0.9c0-0.2,0-0.4,0-0.6v-1.5h-0.4V33h0.4l0.2-0.8h0.9V33h0.9v0.9H125.8z"/>
                <path class="st0" d="M131.1,34.9c0,1.1-0.8,2-2,2c-1.2,0-2-0.9-2-2c0-1.1,0.8-2,2-2C130.2,32.9,131.1,33.8,131.1,34.9z M129.1,33.9
		c-0.5,0-0.8,0.4-0.8,1c0,0.6,0.3,1,0.8,1c0.5,0,0.8-0.4,0.8-1C129.9,34.3,129.6,33.9,129.1,33.9z"/>
                <path class="st0" d="M136.3,36.8v-1.9c0-0.2,0-0.5-0.1-0.7c-0.1-0.2-0.3-0.3-0.5-0.3c-0.2,0-0.5,0.1-0.6,0.4c0,0.2,0,0.4,0,0.6v2
		H134v-1.9c0-0.2,0-0.5-0.1-0.7c-0.1-0.2-0.3-0.3-0.5-0.3c-0.2,0-0.4,0.1-0.6,0.3v2.6h-1.1V33h1l0.1,0.4c0.3-0.4,0.7-0.5,1.1-0.5
		c0.4,0,0.7,0.2,1,0.5c0,0,0,0.1,0.1,0.1c0.4-0.5,0.9-0.6,1.2-0.6c0.4,0,0.7,0.2,1,0.5c0.3,0.4,0.3,0.9,0.3,1.4v2H136.3z"/>
                <path class="st0" d="M138.3,32.6v-0.9h1.1v0.9H138.3z M138.3,36.8V33h1.1v3.8H138.3z"/>
                <path class="st0" d="M143.4,36.4c-0.4,0.4-0.9,0.5-1.4,0.5c-1.1,0-1.9-0.8-1.9-2c0-1.1,0.8-2,1.9-2c0.5,0,1,0.2,1.4,0.5l-0.6,0.8
		c-0.2-0.2-0.4-0.3-0.7-0.3c-0.5,0-0.9,0.5-0.9,1c0,0.6,0.4,1,0.9,1c0.3,0,0.5-0.1,0.7-0.3L143.4,36.4z"/>
                <path class="st0" d="M123.7,40.6v-0.9h2.3v1.9c-0.5,0.7-1.3,1-2.2,1c-1.5,0-2.6-1-2.6-2.5c0-1.4,1.2-2.5,2.6-2.5
		c0.9,0,1.6,0.3,2.1,1l-0.8,0.7c-0.3-0.4-0.8-0.7-1.3-0.7c-0.8,0-1.4,0.7-1.4,1.6c0,0.9,0.5,1.6,1.4,1.6c0.4,0,0.8-0.2,1.1-0.4v-0.6
		H123.7z"/>
                <path class="st0" d="M130.6,40.7c0,1.1-0.8,2-2,2c-1.2,0-2-0.9-2-2c0-1.1,0.8-2,2-2C129.8,38.7,130.6,39.6,130.6,40.7z M128.6,39.7
		c-0.5,0-0.8,0.4-0.8,1c0,0.6,0.3,1,0.8,1c0.5,0,0.8-0.4,0.8-1C129.5,40.1,129.1,39.7,128.6,39.7z"/>
                <path class="st0" d="M132.4,42.6h-1.1v-5.3h1.1V42.6z"/>
                <path class="st0" d="M137,42.6h-1l-0.1-0.5c-0.3,0.4-0.8,0.5-1.1,0.5c-1,0-1.7-0.9-1.7-2c0-1.1,0.7-2,1.7-2c0.3,0,0.8,0.1,1.1,0.4
		v-1.9h1.1V42.6z M135.1,39.7c-0.6,0-0.8,0.5-0.8,1c0,0.5,0.3,1,0.8,1c0.3,0,0.6-0.1,0.8-0.4V40C135.6,39.8,135.4,39.7,135.1,39.7z"
                />
            </g>
            <g>
                <defs>
                    <path id="SVGID_1_" d="M116.6,29.3h25.1V2.2h-25.1V29.3L116.6,29.3z M115,0.6h28.3v30.3H115V0.6L115,0.6z"/>
                </defs>
                <use xlink:href="#SVGID_1_"  style="overflow:visible;fill:#FFFFFF;"/>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                </clipPath>
            </g>
            <g>
                <defs>
                    <path id="SVGID_3_" d="M122.1,23.8l-1.2,2.9c0,0.1-0.1,0.1-0.2,0.1h-1.6c-0.1,0-0.2-0.1-0.2-0.3l4.7-11c0.1-0.2,0.3-0.2,0.4,0
			c0.1,0.1,0.2,0.4,0.3,0.7c0.1,0.4,0.3,0.8,0.5,1.3c0.2,0.5,0.4,1,0.7,1.6c0.3,0.6,0.5,1.2,0.8,1.8c0.3,0.6,0.5,1.2,0.8,1.8
			c0.3,0.6,0.5,1.1,0.7,1.7c0.2,0.5,0.4,0.9,0.5,1.3c0.1,0.4,0.3,0.6,0.3,0.7c0.1,0.1,0,0.3-0.2,0.3h-1.6c-0.1,0-0.1,0-0.2-0.1
			c0-0.1-0.1-0.3-0.2-0.5c-0.1-0.2-0.2-0.4-0.3-0.7c-0.1-0.3-0.2-0.6-0.4-0.9c-0.1-0.3-0.2-0.6-0.3-0.9H122.1L122.1,23.8z
			 M122.5,22.3h2.6c-0.1-0.3-0.3-0.6-0.4-0.9c-0.1-0.3-0.2-0.6-0.3-0.8s-0.2-0.5-0.3-0.6c-0.1-0.2-0.1-0.3-0.2-0.4
			c0,0,0-0.1-0.1-0.2s-0.1-0.2-0.1-0.3c0,0.1,0,0.2-0.1,0.3c0,0.1-0.1,0.2-0.1,0.2L122.5,22.3L122.5,22.3z M133,26.4
			c-0.4,0.3-1,0.5-1.7,0.5c-0.7,0-1.2-0.2-1.6-0.6c-0.4-0.4-0.6-0.9-0.6-1.5v-4.4c0-0.1,0.1-0.2,0.2-0.2h1.2c0.1,0,0.2,0.1,0.2,0.2
			l0,3.8c0,0.3,0.1,0.5,0.3,0.6c0.2,0.2,0.4,0.3,0.8,0.3c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.2,0.6-0.4c0.2-0.2,0.3-0.3,0.4-0.6
			c0.1-0.2,0.1-0.5,0.1-0.7v-3c0-0.1,0.1-0.2,0.2-0.2h1.2c0.1,0,0.2,0.1,0.2,0.2v6.2c0,0.1-0.1,0.2-0.2,0.2h-1
			c-0.1,0-0.2-0.1-0.2-0.2l-0.1-1C133.5,26,133.2,26.2,133,26.4L133,26.4z"/>
                </defs>
                <use xlink:href="#SVGID_3_"  style="overflow:visible;fill:#FFFFFF;"/>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                </clipPath>
            </g>
            <g>
                <path class="st0" d="M107.5,22.8h2.2v1.6h-2.2v2.2h-1.6v-2.2h-2.2v-1.6h2.2v-2.2h1.6V22.8z"/>
            </g>
</svg>


    </a>
</section>

<div class="timesup-gradient">

    <section class="timesup-partnership v-center">
        <h2>
            Automic Gold has partnered with TIME'S&nbsp;UP to commemorate the organization that has shaken up the world.
        </h2>
    </section>


    <section class="timesup-about">
        <div class="timesup-about__quote v-center">
            <blockquote cite="https://timesupnow.org/">
                <p>
                    "Every woman deserves to feel safe and respected at work. TIME’S UP is fighting to make that vision a reality."
                </p>
                <footer>— Bola Fapohunda</footer>
            </blockquote>
        </div>
        <div class="timesup-about__description typesystem--lp v-center">
            <h3>The scope of work done by TIME’S&nbsp;UP cannot be understated.</h3>
            <p>By helping change culture, companies, and laws, TIME'S&nbsp;UP aims to create a society free of gender-based discrimination in the workplace and beyond. TIME'S&nbsp;UP insists upon a world where everyone is safe and respected at work.</p>
            <p>As a radically ethical company that is working to end all forms of discrimination in the jewelry industry – by featuring products for consumers of all sizes, skin colors and genders – we are proud to partner with TIME'S&nbsp;UP on this jewelry collection.</p>
        </div>
        <div class="timesup-about__percent v-center">
            <figure>
                <div>30%</div>
                <figcaption>30% of sales will be contributed to TIME'S&nbsp;UP&nbsp;Now</figcaption>
            </figure>
        </div>
    </section>

    <section class="timesup-products">
        {% assign sizes = '
            (max-width: 479px) calc((100vw - 30px) * 0.9),
            (min-width: 480px) and (max-width: 767.98px) calc((100vw - 60px) * 0.9),
            (min-width: 768px) and (max-width: 1199.98px) calc((100vw - 120px) * 0.5),
            (min-width: 1200px) calc((100vw - 180px) * 0.5)'
        %}

        {% include 'product-card', product: all_products.times-up-studs, sizes: sizes %}
        {% include 'product-card', product: all_products.times-up-earring, sizes: sizes %}
    </section>

    <section class="timesup-post v-center">
        <p>
            We are here to be bold. <a href="{{ shop.url }}/pages/about-us" title="About Automic Gold">See where our path leads.</a>
        </p>
    </section>
</div>
