@import "../settings/variables";
@import "../settings/bootstrap-media";

.cards-with-info {
  // .cards-with-info__wrapper
  &__wrapper {
    text-align: center;
  }

  // .cards-with-info__title
  &__title {
    text-align: left;
    color: rgb(var(--color-highlighted-elements));
    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  // .cards-with-info__container
  &__container {
  }

  // .cards-with-info__images
  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-bottom: 0.5rem;
    }

    picture {
      display: block;
      line-height: 0;
      border: 1px solid rgb(var(--color-highlighted-elements));
      margin: 0 0 15px 0;

      @include media-breakpoint-up(md) {
        border: none;
        margin-bottom: 0;

        &:not(:last-child) {
          margin: 0 1.5vw 0 0;
        }
      }
    }

    img {
      width: 100vw;
      object-fit: cover;
      height: 40vw;

      @include media-breakpoint-up(md) {
        width: 100%;
        height: 100%;
      }
    }
  }

  // .cards-with-info__texts
  &__texts {
  }
}

.text-info {
  color: rgb(var(--color-base-text)) !important;

  // .text-info__title
  &__title {
    margin: 0 0 16px 0;
  }

  // .text-info__desc
  &__desc {
    display: none;
    text-align: left;

    @include media-breakpoint-up(md) {
      text-align: center;
      display: block;
    }

    // .text-info__desc_mobile
    &_mobile {
      display: block;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}