@import "../settings/variables";
@import "../settings/bootstrap-media";

.delivery-info {
  background-color: #27235e;

  // .delivery-info__row
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .delivery-info__column
  &__column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
    }
  }
}

.column-info {
  // .column-info__title
  &__title {
    font-size: 25px;
    line-height: 41px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  // .column-info__text
  &__text {
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 460px;
    }
  }
}

.column-items {
  display: flex;
  justify-content: center;
  width: 100%;

  // .column-items__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media-breakpoint-down(md) {
      & .column-items__item:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
      }

      & .column-items__item:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
        justify-self: center;
      }

      & .column-items__item:last-child {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        justify-self: center;
      }
    }
  }

  // .column-items__item
  &__item {
    position: relative;
    text-align: center;
  }

  // .column-items__image
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // .column-items__text
  &__text {

    @include media-breakpoint-down(md) {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
    }
  }
}
.grid-template-4 {
  grid-template-columns: repeat(4, 1fr);
  @include media-breakpoint-down(md) {
    & .column-items__item:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-self: center;
    }

    & .column-items__item:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 5;
      justify-self: center;
    }

    & .column-items__item:nth-child(3){
      grid-column-start: 1;
      grid-column-end: 3;
      justify-self: center;
    }
    & .column-items__item:last-child {
      grid-column-start: 3;
      grid-column-end: 5;
      justify-self: center;
    }
  }
  
}