@import "../settings/variables";
@import "../settings/bootstrap-media";

.text-with-double-img {
    background: rgb(var(--color-base-background-1));

    @include media-breakpoint-up(md) {
        border-top: 1px solid rgb(var(--color-highlighted-elements));
        border-bottom: 1px solid rgb(var(--color-highlighted-elements));
    }
    @include media-breakpoint-down(sm) {
        background: rgb(var(--color-base-background-2));
    }

    &__inner  {
        justify-content: flex-end;
        align-items: center;

        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            text-align: center;
            justify-content: flex-start;
        }
    }

    &__block {
        flex: 1 1 100%;
        margin-right: 12px;
        max-width: 360px;

        @include media-breakpoint-down(lg) {
            flex: 1 1 auto;
        }
        @include media-breakpoint-down(sm) {
            flex: 1 1 47%;
            margin-right: 0;
        }

        &:first-child {
            max-width: 35%;
            margin-right: auto;
            padding-right: 20px;

            @include media-breakpoint-down(lg) {
                max-width: 47%;
            }
            @include media-breakpoint-down(sm) {
                flex: 1 1 100%;
                max-width: 100%;
                padding-right: 0px;
            }
        }
        &:nth-child(3) {
            margin-right: 0;
            @include media-breakpoint-down(sm) {
                margin-left: 16px;
                margin-bottom: 0px;
            }
        }

    }
    &__heading {
        font-size: 32px;
        font-weight: 600;
        line-height: 38.4px;
        text-transform: capitalize;
        margin-bottom: 24px;

        @include media-breakpoint-down(md) {
           font-size: 25px;
           margin-bottom: 16px;
        }
    }

    &__description {
        margin-bottom: 24px;
        p {
            font-size: 25px;
            font-weight: 600;
            line-height: 41px;
            text-transform: capitalize;
        }
    }

    &__image {
        position: relative;
        line-height: 0;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 4px;

        @include media-breakpoint-down(md) {
            font-size: 25px;
            margin-bottom: 16px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 350;
        line-height: 32px;
        margin-bottom: 24px;

        &-desktop {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &-mobile {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
                margin-top: 11px;
            }
        }
    }

    .btn {
        &-desktop {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &-mobile {
            display: none;
            @include media-breakpoint-down(sm) {
                display: inline-flex;
            }
        }
    }
}