@import "../settings/variables";
@import "../settings/bootstrap-media";

.queer-heroine {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .queer-heroine .queer-rainbow {
    width: 45%;
    position: relative;
  }
  .queer-heroine .queer-rainbow .queer-rainbow__cover {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .queer-heroine .queer-rainbow .queer-rainbow__colors {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .queer-heroine .queer-rainbow .queer-rainbow__colors svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .queer-heroine .queer-rainbow .queer-rainbow__colors svg path {
    transition: fill 0.1s;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:first-of-type
    path {
    fill: #43006a;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(2)
    path {
    fill: #2b24ca;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(3)
    path {
    fill: #469307;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(4)
    path {
    fill: #d9b801;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(5)
    path {
    fill: #fd8c00;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(6)
    path {
    fill: #d80630;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(7)
    path {
    fill: #784f17;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.queer
    svg:nth-of-type(8)
    path {
    fill: #000;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:first-of-type
    path,
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(2)
    path,
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(3)
    path {
    fill: transparent;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(4)
    path {
    fill: #5ccefb;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(5)
    path {
    fill: #f8a6bc;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(6)
    path {
    fill: #fff;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(7)
    path {
    fill: #f8a6bc;
  }
  .queer-heroine
    .queer-rainbow
    .queer-rainbow__colors.trans
    svg:nth-of-type(8)
    path {
    fill: #5ccefb;
  }
  .queer-heroine .queer-heroine__text {
    font-size: 20px;
    font-family: soleil, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    text-shadow: 0 1px 2px #18084d;
  }
  @media screen and (min-width: 768px) {
    .queer-heroine .queer-heroine__text {
      font-size: 3vw;
    }
  }
  .queer-owned {
    color: rgb(var(--color-highlighted-elements));
  }
  .queer-owned h2 {
    margin-bottom: 30px;
  }
  .queer-owned video {
    width: 100%;
  }
  .queer-owned h3 {
    margin-top: 30px;
  }
  .queer-owned a,
  .queer-owned p {
    color: rgb(var(--color-highlighted-elements));
  }
  
@media screen and (min-width: 768px) {
    .queer-owned {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 15px;
    }
    .queer-owned div:first-of-type {
      grid-column: 1;
      grid-row: 1;
    }
    .queer-owned div:nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
    }
    .queer-owned div:nth-of-type(3) {
      grid-column: 3;
      grid-row: 1;
      align-self: end;
    }
}
.we-are-often-asked-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 0 0;
    width: 50vw;
}